*/*.pkl
*.pkl
!patchscope/*

*.csv
!data/binary/mcl_dataset.csv
!data/binary/mcl_dataset_prefix.csv
!data/mcqa/mcl_5choice_dataset_gemma2_input_ready.csv
!data/mcqa/mcl_5choice_dataset.csv
!data/patchscope/gemma2_9b_it_explicit_patchscope_data.csv
!data/patchscope/gemma2_9b_it_implicit_patchscope_data.csv
!data/steering/gemma2_9b_it_binary_opt_swapped.csv
!data/steering/gemma2_9b_it_binary.csv
!data/steering/gemma2_9b_it_w_guess_suffix.csv



*.txt
!requirements.txt
*.jsonl
*.pt
catboost_info/*

old/*
tools/json_data_old/*
open_ended/*

!data/mcqa/*

.env
*.pyc
associations/*

plots/*

*.pdf